.venv/
.deepeval/
.vscode/
__pycache__/
*.py[cod]

tmp/
vid/
output.txt

best_model.zip
end_model.zip
run_5m
artifacts.zip
.DS_Store
run_10m_fixed
run.zip
run_20m_long
audit_output
run_sword_v1
sword_1.zip
run_hybrid_v1
